/*global*/
#main {
    max-width: 640px;
    margin: auto;
    padding: 40px 0 30px 0;
}
.tabs {
    overflow: hidden;
}
.button {
    cursor: pointer;
    text-transform: none;
}
.btn {
    text-transform: none;
}
footer {
    max-width: 640px;
    margin: auto;
    padding-bottom: 20px;
}

/*intro page*/
.image {
    width: 640px;
}
.fake-browser-ui {
    padding: 20px 0 0;
    border-radius: 3px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #ddd;
    display: inline-block;
    position: relative;
    line-height: 0;
}
.fake-browser-ui .frame {
    display: block;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 1px;
}
.fake-browser-ui span {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid #dadada;
    float: left;
    margin: 0 0 0 4px;
}

/*app page*/
.active-item {
    font-size: 16px;
}
.inactive-item {
    font-size: 16px;
    color: #d5d5d5;
    text-decoration: line-through;
}

/* login page */
.login-form {
    max-width: 400px;
    margin: 20px auto 150px auto;
}