{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import photo_card %}


{% block title %}
    {{ user.name }}'s collections
{% endblock %}

{% block content %}
    {% include 'user/_header.html' %}
    <div class="row">
        <div class="col-md-12">
            {% if current_user == user or user.show_collections %}
                {% if collects %}
                {% for collect in collects %}
                photo_card(collect.collected)
                {% endfor %}
                {% else %}
                <div class="tip">No Collections.</div>
                {% endif %}
            {% else %}
                <div class="tip">
                    The user's collections are private.
                </div>
            {% endif %}
        </div>
    </div>
    {% if collections %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='center') }}
        </div>
    {% endif %}
{% endblock %}