{% extends 'base.html' %}

{% block content %}
<header class="row">
    <div class="input-field col s12">
        <input id="item-input" type="text" class="validate">
        <label for="item-input">What do you want to do?</label>
    </div>
</header>

<div class="row" id="dashboard">
    <div class="col l9 m12 s12">
        <ul class="tabs">
            <li class="tab col m4 s12">
                <a class="blue-text button" id="all_item">All
                <span class="grey-text small-text" id="all_count">{{ all_count }}</span></a>
            </li>
            <li class="tab col m4 s12">
                <a class="blue-text button" id="active_item">Active
                <span class="grey-text small-text" id="active_count">{{ active_count }}</span></a>
            </li>
            <li class="tab col m4 s12">
                <a class="blue-text button" id="done_item">Done
                <span class="grey-text small-text" id="completed_count">{{ completed_count }}</span></a>
            </li>
        </ul>
    </div>
    <div class="col l3 ">
        <a class="btn waves-light waves-effect red right">
            <i class="material-icons left">clear_all</i>Clear
        </a>
    </div>
</div>

<div class="items">
    {% for item in items %}
        {% include '_item.html' %}
    {% endfor %}
</div>
{% endblock %}