{% extends 'base.html' %}

<div class="center">
    <h2 class="blue-text text-lighten-2">Todoism</h2>
    <h5 class="light">We are todoists, we use todoism.</h5>
    <div class="row center-block">
        <div class="fake-browser-ui hoverable card-panel">
            <div class="frame">
                <span class="red"></span>
                <span class="blue"></span>
                <span class="orange"></span>
            </div>
            <img class="image" src="{{ url_for('static', filename='space-3.jpg') }}">
        </div>
    </div>
    <div class="row">
        <a href="#" class="btn waves-effect waves-light orange accent-2">get start</a>
    </div>
</div>