<div class="row item card-panel hoverable">
    <span class="item-body">
        <a class="button done-btn">
            <i class="material-icons left">check_box_outline_blank</i>
        </a>
        <span class="active-item">Hello</span>
    </span>
    <span class="edit-btns right">
        <a class="delete-btn right">
            <i class="material-icons left">clear</i>
        </a>
        <a class="edit-btn right">
            <i class="material-icons left">mode_edit</i>
        </a>
    </span>
</div>

<div class="row item card-panel hoverable">
    <span class="item-body">
        <a class="button done-btn">
            <i class="material-icons left">check_box</i>
        </a>
        <span class="inactive-item">Love</span>
    </span>
    <span class="edit-btns right">
        <a class="delete-btn right">
            <i class="material-icons left">clear</i>
        </a>
        <a class="edit-btn right">
            <i class="material-icons left">mode_edit</i>
        </a>
    </span>
</div>