<div class="row item card-panel hoverable" data-href="{{ url_for('.toggle_item', item_id=item.id) }}"
     data-id="{{ item.id }}" data-body="{{ item.body }}" data-done="{{ item.done|tojson }}">
    <span class="item-body">
        <a class="button done-btn">
            <i class="material-icons left">
                {% if not item.done %}
                    check_box_outline_blank
                {% else %}
                    check_box
                {% endif %}
            </i>
        </a>
        <span class="{% if not item.done %}active-item{% else %}inactive-item{% endif %}">{{ item.body }}</span>
    </span>
    <span class="edit-btns right hide">
        <a class="delete-btn right">
            <i class="material-icons left">clear</i>
        </a>
        <a class="edit-btn right">
            <i class="material-icons left">mode_edit</i>
        </a>
    </span>
</div>
