{% extends 'base.html' %}

{% block content %}
<header class="row center">
    <h4 class="red-text">Login on Todoism</h4>
</header>
<div class="login-form">
    <div class="input-field">
        <input id="username-input" placeholder="username" type="text" class="validate login-input">
    </div>
    <div class="input-field">
        <input id="password-input" placeholder="password" type="password" class="validate login-input">
    </div>
    <span class="right">
        <a class="btn grey" id="register-btn">Get a test account</a>
        <a class="btn red" id="login-btn">Login</a>
    </span>
</div>
{% endblock %}